.banner {
  background-image: url(../Imgs/banner.jpg);
  width: 100%;
  height: 25rem;
  background-position: center;
  padding: 2vh;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-size: contain;
  padding: 0;
}

header {
  height: 12vh;

  background-color: black;
}

header img {
  display: block;
  margin: auto;
  height: 2.5rem;
  padding-top: 1.4rem;
}

.banner h1 {
  line-height: 0.8;
  color: #25a2c3;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1.8rem;
  margin-top: 0rem;
  padding-top: 2rem;
}
.banner p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1.8rem;
  padding-left: 8%;
  padding-right: 8%;
}

.banner button {
  width: 42%;
  height: 13%;
  background-color: #f04c2f;
  color: white;
  font-weight: bold;
  font-size: 100%;
  border-radius: 5px;
  border-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

.firstpart,
.secondpart {
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 4rem;
}

.aftercircle {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
h3 {
  color: #25a2c3;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1.6rem;
}

.firstpart p {
  color: grey;
  font-size: 1.3rem;
  margin-top: 1.1rem;
  line-height: 1.65;
}

.image1 img {
  height: 18rem;

  border-radius: 50%;
  margin-top: 2rem;
}

.experience {
  background-color: #e22d0e;
  height: 20rem;
  text-align: center;
  color: white;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.experience h3 {
  font-size: 2rem;
  padding-top: 4rem;

  color: white;
}

.experience section {
  font-style: italic;
  font-weight: lighter;
  margin-top: 2.3rem;
  line-height: 1.65;
}

.experience div {
  margin-top: 2.5rem;
  font-size: 1.2rem;
}

.experience p {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.cards h3 {
  font-size: 1rem;
  line-height: 1.65;
}
.cards {
  box-sizing: content-box;
  border: 1px solid #dee1e3;
  margin-bottom: 2rem;

  color: grey;
}

.cards img {
  width: 100%;
}

.cards p {
  margin-top: 0.8rem;
  margin-bottom: 2rem;
  line-height: 1.65;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

footer {
  margin-top: 4.3rem;
  font-weight: lighter;
  text-align: center;
  background-color: #25a2c3;
  color: white;
  height: 20rem;
}

h4 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2.5rem;
}

a:link {
  color: white;
}

a:visited {
  color: #e22d0e;
}

.findus {
  margin-top: 1.5rem;
  line-height: 1.65;

  margin-bottom: 1.5rem;
}

.copyright {
  font-size: 0.8rem;
  border-top: solid white 1px;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 1.5rem;
  padding-top: 2rem;
}
