.banner {
  background-image: url(../Imgs/banner.jpg);
  width: 100%;
  height: 25rem;
  background-position: center;
  padding: 2vh;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-size: contain;
  padding: 0;
}

header {
  height: 10vh;

  background-color: black;
}

header img {
  display: block;
  margin: auto;
  height: 2.5rem;
  padding-top: 1.2rem;
}

.banner h1 {
  color: #25a2c3;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1.8rem;
  margin-top: 0rem;
  padding-top: 2rem;
}
.banner p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1.8rem;
  padding-left: 8%;
  padding-right: 8%;
}

.banner button {
  width: 42%;
  height: 13%;
  background-color: #f04c2f;
  color: white;
  font-weight: bold;
  font-size: 100%;
  border-radius: 5px;
  border-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
